
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.custom-font {
font-family: var(--mdc-font-family-default-primary);
font-weight: 800;
}


.section {
text-align: center;
padding: 50px 0;
}

.divider {
display: flex;
justify-content: center;
align-items: center;
font-size: 3.5rem;
}

.divider::before, .divider::after {
content: '';
flex: 1;
border-bottom: 1px solid var(--nav-hover-color);
margin: 0 20px;
}

.relative-container {
position: relative;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden; /* Ensure overflow doesn't cause layout issues */
}






